*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
   
}
body {
    background: url(/image/z4620458367780_574605cff797d899cd002e5bd5c58b7e.jpg);
    background-position:center;
    background-size: cover;
    background-attachment: fixed;
}

.container {
    width: 90%;
    margin: 0 auto;
}
header {
    height: 100px;
    background-color: #1d559f;
}
header img{
    padding-left: 10px;
}
nav {
   display: flex;
   align-items: center;
   background: url(/image/VnnId_Back.jpg)no-repeat scroll 0 0 transparent !important;
}
nav .menu  {
    width: 100%;
    
}
nav .menu > ul {
    list-style: none;
   
    display: flex;
    padding:0px;
}
nav .menu > ul > li {
    line-height: 35px;
    padding: 10px 15px;
}
nav .menu > ul > li > a {
    color: #00008B;
    font-size: 15px;
    text-decoration: none;
}
nav.search {
    margin-right: auto;
}
.search {
    display: flex;
    width: 50%;
    margin-right: 20px;

}
.search > input {
    outline: none;
    padding: 5px;
    border-radius:5px;
    border: 1px solid #C0C0C0;
    margin-right: 2%;
    font-size:13px;
    width: 80%;
}
.search > button {
    background-color: darkblue;
    color: white;
    padding: 3px;
    border-radius:5px;
    width: 20%;
}
div #slide img {
    width: 980px;
    margin: 0 auto;
    margin-bottom: 10px;
}
.acticle {
    margin: auto;
}
article h3 {
    text-align: center;
    padding-top: 30px;
    color: darkblue;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bold;
}
.list{ 
    display: flex;
    flex-wrap: wrap;
    padding: 1%;
    justify-content: space-between;
}
.list > div {
    width: 30%;
    padding: 2%;
    border:1px solid #C0C0C0;
    margin: 1%;
}



.new_item > h4 {
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Số dòng tối đa */
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 20px !important;
    font-weight: bold;
}
.new_item {
    align-items: center;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.7);
    transition: transform 0.5s ease; 
}
.new_item:hover {
    transform:scale(1.05);
    background-color: rgb(120, 184, 236, 0.7) ;
    border-color: rgb(41, 126, 255);
}
.new_item div{
   padding: 10px;
   
}
.new_item div img {
    width: 100%;
}

footer .class {
    background-color: #00008B;
    width: 100px;
}
footer {
    clear: both;
    height: auto;
    background: #1d559f;
}
footer img {
    margin: 4% ;
    width: 400px;
    height: auto;
    text-align: center;;
}
.footer h5
 {
    color: white;
    font-size: 1rem;
    padding: 20px 0;
    margin-left: 105px;
    font-weight: 300;
}
.footer {
    display: flex;  
    padding-top: 20px;
    border-bottom: 1px solid white;
}
.last-footer {
    display: flex;
    margin-top: 10px;
    color: white;
    margin-left:15px;
}
.last-footer div:first-child span {
    color: orange;
}
.last-footer-child p{
    margin: 10px;
}
.last-footer  a{
    display: inline-block;
    text-decoration: none;
    font-size: 40px;
    padding-left: 10px;
    margin-top: 20px;
    color: white;
}
.last-footer div:first-child > * {
    padding-bottom: 10px;
}
.last-footer > div > h3 {
    margin-top: 20px;
}
.last-footer-child a:hover {
    color: orange;
}
.last-footer-child a {
    font-size: 15px;
    display: block;
}
.last-footer-child h2 {
    padding: 10px;
    position: relative;
    margin-right: 5px;
}
.last-footer-child h2:before {
    content: "";
    height: 2px;
    width: 40px;
    position: absolute;
    background: #fff;
    left: 10px;
    bottom: 0;
}
.last-footer > div:first-child h2{
    position: relative;
    padding: 10px 0;
}
.last-footer div:first-child h2:before {
    content: "";
    height: 2px;
    width: 40px;
    position: absolute;
    background: #fff;
    left: 0px;
    bottom: 0;
}
.last-footer div:first-child a{
    padding: 10px 0;
}
.footer-outer .bq {
    background-color: white;
    font-size: 17px;
    color: #1956b3;
    margin-top: 5px;
}


.header {
    display: flex;
    align-items: center;
}

.register {
    color: black;
    margin-right: auto;
    padding:10px 15px;
    font-size:15px;
    background-color: white;
    border-radius: 10px;
   
}
.register:hover {
    cursor: pointer;
    background-color: lightblue;
}
.header > div:first-child {
    width: 80%;
}

#slide > div img {
    width: 100%;
}

.showUl {
    position: absolute;
    z-index: 9999;
    padding: 0px;
    display: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}
.showUl > li {
    display: block;
    background-color: white;
    color:black;
    border-bottom:1px solid #C0C0C0;
    padding: 0px;
    padding: 3px;
    transition: 0.1s;
}
.showUl > li:last-child {
    border-bottom: none;
    
}
.showUl > li > a{
    padding: 10px 15px;
    font-size: 15px;
    margin: 0px;
    text-align: left;
    padding-left: 3px;
}

.showUl > li:hover {
    background-color:#1d559f;
    color: white;
}

.showLi:hover .showUl{
    display: block;
}
.carousel-item {
    width: 100%;
    height: 350px;
}
.carousel-item img {
    width: 100%;
    height: 350px;
    align-items: center;
}
#gototop {
    display: flex;
    justify-content:center;
    align-items: center;
    position: fixed;
    width: 50px;    
    height: 50px;
    background-color:rgb(196, 89, 89);
    right: 10px;
    bottom: 10px;
}